<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Home page {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <header>
            <ul class="btn-container">
                <li><a class="home" href="{% url 'userhome' %}">Home</a></li>
                <li><a class="home" href="{% url 'registration' %}">Registration</a></li>
                <li><a class="home" href="{% url 'loginuser' %}">Login</a></li>
            </ul>
        </header>


    {% block content %}

    {% endblock %}

    </body>
</html>