{% extends 'base.html' %}
{% block title %}Registration page{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="w-100" style="background-color: rgb(194, 35, 35);"></div>
            </div>
            <div class="col-md-6">
                <h1>Sign-up here</h1>
                <form action="registration" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">First name</label>
                                <input type="text" class="form-control" name="firstname" placeholder="Enter First Name">
                            </div>
                            <div class="col-md-6">
                                <label for="">Last name</label>
                                <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="">Date of birth</label>
                            <input type="date" class="form-control" name="dob">
                        </div>
                        <div class="form-group">
                            <label for="">Upload your image</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group">
                            <label for="">Enter password</label>
                            <input type="password" class="form-control" name="password1" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="password" class="form-control" name="password2" placeholder="Confirm password">
                        </div>
                        
                    </div>
                    <input class="btn btn-success" type="submit" value="Signup">
                    
                </form>
            </div>
        </div>
    
    {% for message in messages %}
    <div>
        <h3>{{message}}</h3>
    </div>
    {% endfor %}

{% endblock %}